@tailwind preflight;
@tailwind components;
@tailwind utilities;
    
body 
    font-family $primaryFont !important

.home
    padding 3.6rem 0 0 !important
    max-width 100% !important

.home .hero
    display: none !important

.bg-coollabs
    background-color $backgroundColor

.text-coollabs
    color #8bd94f

.text-coollabs-dark
    color $backgroundColor

.border-coollabs 
    border-bottom-color #8bd94f

.content:not(.custom)
    max-width 740px !important
    padding 2rem !important

.sidebar-button
    color white !important

.navbar  
    border-bottom none !important

    background-color $backgroundColor !important

.navbar .links
    background-color $backgroundColor !important
    color white !important

.nav-links a.router-link-active
    color inherit !important

.sidebar .nav-links a:hover
    color green !important
    
.nav-links a:hover
    color white !important
.navbar .site-name
    font-weight 600 !important
    color white !important

.nav-link, .repo-link , .nav-links .dropdown-title, .sidebar-links
    font-family $secondaryFont !important

.page
    font-family $secondaryFont
