body 
    font-family 'Miriam Libre' !important

.home
    padding 3.6rem 0 0 !important
    max-width 100% !important

.home .hero
    display: none !important

.bg-coollabs
    background-color #2c3351

.content:not(.custom)
    max-width none !important
    padding 0 !important

.navbar  
    border-bottom none !important
    box-shadow 0 2px 4px 0 #2c3351 !important

.navbar .site-name
    font-weight 400 !important

.nav-link, .repo-link , .nav-links .dropdown-title
    font-weight 800 !important

.h-60
    height 40vh